@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE HTML MODIFICATIONS */

html {
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e3e3e4;
}
